body {
  margin: 0;
  margin-top: 100px;
  background: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

.profile-card {
  display: flex;
  max-width: 1040px;
  height: auto;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
}

.profile-card__img {
  width: 270px;
  height: 270px;
  border-radius: 12px;
  margin-right: 34px;
}

.profile-card__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.profile-card__name {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.profile-card__email,
.profile-card__phone-number,
.profile-card__profession,
.profile-card__description {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.profile-card__name,
.profile-card__email {
  margin-bottom: 6px;
}

.profile-card__profession,
.profile-card__description {
  color: #828282;
}

.profile-card__name,
.profile-card__email,
.profile-card__phone-number {
  color: #4f4f4f;
}

.profile-card__email-icon,
.profile-card__phone-number-icon {
  margin-right: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
  .profile-card {
    max-width: auto;
  }
}

@media screen and (max-width: 880px) {
  .profile-card {
    max-width: 760px;
  }
  .profile-card__img {
    width: 350px;
    height: 350px;
  }
  .profile-card__data {
    display: block;
  }
  .profile-card__profile {
    margin-bottom: 30px;
  }
  .profile-card__description {
    font-size: 17px;
  }
}

@media screen and (max-width: 790px) {
  .profile-card {
    display: block;
    max-width: 350px;
    margin: auto;
  }
  .profile-card__img {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .profile-card {
    max-width: auto;
  }
}
